{
  "plugins": ["transform-es2015-arrow-functions", "transform-es2015-modules-commonjs"],
  "presets": [
    [

      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
